.formControl {
    position: relative;
    margin: 20px 0 20px;
}

.formControl label {
    position: absolute;
    top: 15px;
    left: 0;
    pointer-events: none;
}

.formControl input:focus + label span,
.formControl input:valid + label span {
    transform: translateY(-30px);
}

.formControl label span {
    display: inline-block;
    font-size: 16px;
    min-width: 5px;
    transition: 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}
